* {
  font-family: "Bahij TheSansArabic";
}
a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #25293c;
  border-radius: 5px;
}
.ant-breadcrumb-link {
  &:hover {
    background: transparent !important;
  }
}

.form-container {
  width: 50%;
  background: #fff;
  border-radius: 24px;
  text-align: center;
  margin: 40px auto;
  height: fit-content;
  padding: 72px 24px;
  box-shadow: 0px 1.8882px 15.1056px rgba(0, 0, 0, 0.05);
  position: relative;
}
