.app-bar {
  .ant-layout-sider.ant-layout-sider-dark {
    min-height: 100vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    flex: 0 0 200px;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
    background: getColor(white) 0% 0% no-repeat padding-box !important;
  }
  .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
    flex: 0 0 80px;
    max-width: 120px !important;
    min-width: 120px !important;
    width: 120px !important;
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    color: #42475d;

    &.active {
      background-color: #25293c;
      color: #fff;
      height: 50px;
    }
  }
  .nav-group {
    padding: 0px 10px;
    color: #42475d;
    transition: all 0.5s linear;

    .nav-group-item {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.5s linear;
    }
    .sub-menu {
      padding: 0px !important;
      overflow: hidden;
      transition: all 0.4s linear;
      transform: scaleY(0);
      transform-origin: top;
    }
    .collapsed {
      padding: 0px !important;
      transition: all 0.4s linear;
      transform: scaleY(1) !important;
      transform-origin: top;
    }
  }
}
